#header {
  background-color: #f05945;
}
#firstparagraph {
  background-color: #289672;
  border-color: #289672;
}

#secondparagraph {
  background-color: #289672;
}

#thirddparagraph {
  background-color: #289672;
}

#forthparagraph {
  background-color: #289672;
}
